@model MvcApplication38.Models.Sushi

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
<h2>@Model.Name</h2>
<p>
    @Html.ActionLink("Назад в меню", "Index", "AdminMenu")
</p>
<script>
    function PreviewImages() {
        var inputID = document.getElementById('input_clone');
        var totalImages = inputID.files.length;
        var imagesPerRow = 3;
        var numRows = totalImages / imagesPerRow;
        var row = "";
        var cell = "";
        var element1 = "";
        var elementID = "";

        oFReader = new FileReader();

        oFReader.onload = function (oFREvent) {
            var dataURI = oFREvent.target.result;
            var image = document.getElementById("qwe");
            image.src = dataURI;
        };

        oFReader.readAsDataURL(document.getElementById("input_clone").files[0]);

    }

    window.addEventListener("load", function () {
        document.getElementById("input_clone").addEventListener("change", PreviewImages, false);
    }, false);
    //]]>
    function proverka(input) {
        var value = input.value;
        var rep = /[-\.;":'a-zA-Zа-яА-Я]/;
        if (rep.test(value)) {
            value = value.replace(rep, '');
            input.value = value;
        }
    }
</script>

@using (Html.BeginForm("EditItem", "AdminMenu", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationMessage("add")
    <table align="center">
        <tr>
            <td colspan="2"><h3>Основное</h3></td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.Name)</td>
            <td>@Html.TextBoxFor(model => model.Name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Composition)</td>
            <td>@Html.TextBoxFor(model => model.Composition)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Colorie)</td>
            <td>@Html.TextBoxFor(model => model.Colorie)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Type)</td>
            <td>@Html.DropDownListFor(model => model.Type, ViewBag._categoryList as SelectList)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Price)</td>
            <td>@Html.TextBoxFor(model => model.Price)</td>
        </tr>
        <tr>
            <td>Фотография</td>
            <td>
                <img src="@Model.Photo" id="qwe" width="100" height="100"><br />
                <input type="file" id="input_clone" name="upload" /><br>

            </td>
        </tr>
        <tr style="display:none">
            <td>@Html.TextBoxFor(model => model.SushiId)</td>

        </tr>
        <tr>
            <td align="right"><input type="submit" id="submit" class="btn btn-primary" title="Сохранить" value="Сохранить" /></td>
        </tr>
    </table>
}

</div>