@model MvcApplication38.Models.Client
@{
    ViewBag.Title = "Оформление заказа";
}
<div id="content">
    <h2>Оформить заказ</h2>
    <p>Пожалуйста, введите Ваши контактные данные.</p>
    @Html.ValidationMessage("Error")
    @using (Html.BeginForm("Order", "Cart", FormMethod.Post))
    {
        <h3>Заказчик</h3>
        <p>
            @Html.Label("Ваше ФИО")<br />
            @Html.TextBoxFor(m => m.Name)
        </p>
        <p>
            @Html.Label("Телефон для связи")<br />
            @Html.TextBoxFor(m => m.Phone)
        </p>
        <h3>Адрес доставки</h3>
        <p>
            @Html.Label("Город доставки")<br />
            @Html.TextBoxFor(m => m.City)
        </p>
        <p>
            @Html.Label("Адрес доставки")<br />
            @Html.TextBoxFor(m => m.Adres)
        </p>
               <p class="actionButtons">
            <button class="actionButtons" type="submit">Обработать заказ</button>
        </p>

    }
</div>